<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?>

<target name="external.target" sequenceNumber="1">
<locations>
<location includeAllPlatforms="true" includeMode="slicer" includeSource="false" type="InstallableUnit">
<repository location="http://download.eclipse.org/releases/indigo/"/>
</location>
<location includeAllPlatforms="true" includeMode="slicer" includeSource="false" type="InstallableUnit">
<repository location="%PREPARE_URL%"/>
</location>
</locations>
</target>
